* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

form {
  width: 100%;
  max-width: 781px;
  margin: auto;
}

textarea {
  resize: none;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

nav .navbar-brand img {
  height: 50px !important;
  width: auto;
}
